<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head>
        <div th:insert="~{header}"></div>
    </head>
    <body>
        <div  th:insert="navbar.html"></div>
        <div>
            <div class="container mt-5" style="min-height: 600px">
                <div class="row mt-5">
                    <div class="col-6 mx-auto">
                        <form action="/api/v1/edit-user" method="post" th:if="${user!=null}">
                            <input type="hidden" name="userId" th:value = "${user.userId}">
                            <input type="hidden" name="group" th:value = "${user.group}">
                            <div class="row">
                                <div class="col-12">
                                    <label>Name:</label>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-12">
                                    <input type="text"  class="form-control" name ="firstName"
                                                  th:value="${user.firstName}" required>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12">
                                    <label>Surname:</label>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-12">
                                    <input type="text"  class="form-control" name ="lastName"
                                                  th:value="${user.lastName}" required>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12">
                                    <label>DateOfBirth:</label>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-12">
                                    <input type="date"  class="form-control" name ="dateBirth"
                                           th:value="${user.dateBirth}" required>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12">
                                    <label>ContactNumber:</label>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-12">
                                    <input type="text"  class="form-control" name ="contactNumber"
                                           th:value="${user.contactNumber}" required>
                                </div>
                            </div>


                            <div class="row mt-3">
                                <div class="col-12">
                                    <label>City:</label>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-12">
                                    <select name="city.cityId" class="form-select form-control">
                                        <option th:each = "city : ${cityLar}"
                                                th:value = "${city.cityId}"
                                                th:text = "${city.cityName+' / '+city.country.countryName}"
                                                th:selected="${user.city.cityId==city.cityId}">
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col-12">
                                    <button class="btn btn-success">SAVE STUDENT</button>
                                    <button type="button" class="btn btn-danger ms-2" data-bs-toggle="modal" data-bs-target="#exampleModal">DELETE</button>
                                </div>
                            </div>
                        </form>
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" th:if="${user!=null}" >
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <form action ="/api/v1/delete-user" method="POST">
                                        <input type="hidden" name="id"  th:value = "${user.userId}" >
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">DELETE</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <h3>ARE YOU SURE ?</h3>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">NO</button>
                                            <button class="btn btn-danger">YES</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <h5 th:if="${user==null}" class="text-center">Student not found</h5>
                    </div>
                </div>
            </div>
        </div>
        <div th:insert="footer.html"></div>
    </body>
</html>